body {
    background-color: #2a2c2f;
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 28px 48px 0 48px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .page {
        padding: 0 16px;
    }
}