.place__image {
    max-width: 460px;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
	.place__image {
		max-width: 440px;
	}
}

@media screen and (max-width: 850px) {
	.place__image {
		max-width: 390px;
	}
}

@media screen and (max-width: 768px) {
	.place__image {
        max-width: 340px;
        width: calc(100% + 16px*2);
	}
}