.intro__text {
    font-family: "Inter", "Arial ", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
	.intro__text {
		font-size: 16px;
        line-height: 27px;
	}
}

@media screen and (min-width: 1024px) {
	.intro__text {
        width: 683px;
        margin: 0 0 32px;
	}
}

@media screen and (max-width: 449px) {
	.intro__text {
        margin: 0 16px 32px 0;
    }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
	.intro__text {
        margin: 0 20px 32px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.intro__text {
        margin: 0 24px 32px 0;
    }
}