.cover {
    position: relative;
    width: 100%;
    max-width: 1184px;
    margin: 102px 0 0;
    background-image: url(../../images/cover-trains.png);
    background-size: cover;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s;
}

@media screen and (min-width: 1024px) {
    .cover:hover::before {
        opacity: 0.8;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 64px;
    }
}

@media screen and (max-width: 374px) {
    .cover {
        min-height: 200px;
    }
}

@media screen and (min-width: 375px) and (max-width: 449px) {
    .cover {
        margin-top: 48px;
        min-height: 272px;
    }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
    .cover {
        min-height: 330px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .cover {
        min-height: 420px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        min-height: 640px;
        width: calc(100% + 48px*2);
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
    }
}